@import "tailwindcss";

:root {
  font-family: sans-serif;
  color: #222;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
  display: grid;
  place-items: center;
}
